<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Trebuchet MS;
      }

      p {
        margin: 0;
      }

      .header_div {
        border: 3px solid #9EA2F2;
        background-color: #C6C6F7;
        border-radius: 20px;
        margin: 27px;
        padding: 20px;
        box-shadow: 6px 6px #808080b5;
        zoom: 0.7;
        width: 40%;
        text-align: center;
      }

      .bouquet_div {
        border: 3px solid #9EA2F2;
        background-color: #C6C6F7;
        border-radius: 20px;
        margin: 27px;
        padding: 20px;
        box-shadow: 6px 6px #808080b5;
        zoom: 0.7;
        width: 70%;
      }

      .header {
        padding: 10px;
        background-color: #e2e2f3;
        border-radius: 10px;
        width: 50%;
        text-align: center;
        margin: 0 auto;
      }

      .header p {
        margin: 0;
        margin: 5px;
      }

      .flower-con {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #e2e2f3;
        border-radius: 10px;
        margin: 10px;
        padding: 5px;
        zoom: 1.6;
      }

      .box {
        position: relative;
        margin: 10px;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        overflow: hidden;
      }

      .flower_image {
        background-size: cover;
        background-position: center;
        height: 120px;
        opacity: 1;
        display: block;
      }

      .middle {
        opacity: 0;
        text-align: center;
      }

      .box:hover .flower_image {
        opacity: 0
      }

      .box:hover {
        background-color: #9EA2F2;
        display: flex;
        justify-content: center;
      }

      .box:hover .middle {
        padding: 10px;
        opacity: 1;
        color: white;
        font-size: 10px;
        font-weight: bold;
        width: inherit;
        display: block;
        width: 50%;
        margin: 0 auto;
        position: relative;
        top: 20%;
      }

      .end {
        font-size: 15px;
        margin: 5px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <p>Made with love at <a href="https://floriography.herokuapp.com/" target="_blank">Floriography</a></p>
    <p class="end">Powered By: </p>
    <p class="end">Daniela Sandoval 🌱🐈 & Flatiron School ❤️💻</p>
  </body>
</html>
